Package: retrosmart-aurorae-themes
Version: 0.2a
Architecture: all
Maintainer: Manuel Domínguez López <mdomlop@gmail.com>
Installed-Size: 1760
Conflicts: retrosmart-aurorae-themes-git
Provides: retrosmart-aurorae-themes
Section: main
Priority: optional
Homepage: https://github.com/mdomlop/retrosmart-aurorae-themes
Description: A retrosmart look collection of themes for KDE Aurorae.
