Package: retrosmart-aurorae-themes
Version: 3.9.8
Architecture: all
Depends:
Provides: retrosmart-aurorae-themes
Conflicts: retrosmart-aurorae-themes-git
Description: A retrosmart look collection of themes for KDE Aurorae.
#Section: main
Priority: optional
Maintainer: Manuel Domínguez López <@mail@>
Homepage: https://github.com/mdomlop/retrosmart-aurorae-themes
Installed-Size: 9300
