[Desktop Entry]
Name=Retrosmart Anthrax
Comment=A retrosmart theme for KDE

X-KDE-PluginInfo-Author=Manuel
X-KDE-PluginInfo-Email=mdomlop@gmail.com
X-KDE-PluginInfo-Website=https://github.com/mdomlop/retrosmart-aurorae-themes
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-License= GPL_V3
